.StartScreen {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: calc(var(--height) / 5);
  /* poor man's font scaling */
  font-size: calc(var(--width) / 7.5);
  text-shadow: 2px 2px 5px var(--text-shadow-color);
}