.MenuItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.MenuItem .MenuItem_icon {
  width: var(--item-size);
  height: var(--item-size);
  border-radius: 100%;
  border: 1px solid #2c5364;
  background: var(--background-gradient-top);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 14px 1px rgba(0, 0, 0, 0.5);
}

.MenuItem.MenuItem_active .MenuItem_icon {
  background: var(--background-gradient-bottom);
  border: 2px solid rgba(221, 221, 221, 0.7);
  box-shadow: 0px 0px 20px 10px rgba(221, 221, 221, 0.5);
}

.MenuItem .MenuItem_text {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  /* poor man's font scaling */
  font-size: calc(var(--height) / 15);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}