.OverlayIndicator {
  width: 100%;
  height: 100%;
  padding: round(calc(var(--resolution-height) / 120), 1px);

  .indicator {
    display: inline-flex;
    align-items: center;
    background-color: var(--item-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    padding: round(
      calc(var(--resolution-height) / var(--padding-divider)),
      1px
    );
    gap: round(
      calc(var(--resolution-height) / var(--item-grid-gap-divider)),
      1px
    );
    border-radius: calc(var(--resolution-height) / 54);
    border: calc(var(--item-border-width) + 1px) solid
      var(--item-border-color-active);
  }

  .iconContainer {
    display: flex;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .barContainer {
    width: 100%;
    height: 100%;
  }

  .bar {
    height: 100%;
    background-color: var(--text-color);
    border-radius: calc(var(--resolution-height) / 54);
  }
}
