.Box {
  background-color: var(--item-color);
  border-radius: round(calc(var(--height) / 54), 1px);
  display: flex;
  flex-direction: column;
  padding: round(calc(var(--height) / 48), 1px);
  gap: round(calc(var(--height) / 27), 1px);
  font-size: round(calc(var(--height) / (26 + (var(--is-square) * 2))), 1px);
  font-weight: 600;

  &.active {
    background-color: var(--item-color-active);

    &.withBorders {
      border-color: var(--item-border-color-active);
    }
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }

  &.withBorders {
    border: var(--item-border-width) solid var(--item-border-color);
    box-shadow: var(--shadow);
  }

  &.small {
    border-radius: round(calc(var(--height) / 108), 1px);
  }

  &.smallPadding {
    padding: round(calc(var(--height) / 82), 1px);
  }
}
