.MenuItem {
  background-color: var(--item-color);
  border-radius: round(calc(var(--height) / 54), 1px);
  border: 1px solid var(--item-border-color);
  display: flex;
  flex-direction: row;
  padding: round(calc(var(--height) / 27), 1px)
    round(calc(var(--height) / 18), 1px);
  gap: round(calc(var(--height) / 27), 1px);
  align-items: center;
  font-size: round(calc(var(--height) / 16), 1px);
  font-weight: 600;
  line-height: round(calc(var(--height) / 10), 1px);
  width: 100%;

  &.active {
    background-color: var(--item-color-active);
    border-color: var(--item-border-color-active);
  }
}
