@font-face {
  font-family: "Selawik";
  src: url("/fonts/Selawik/selawk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selawik";
  src: url("/fonts/Selawik/selawksb.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7AF, U+1100-11FF;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7AF, U+1100-11FF;
}
