.BootLogo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* poor man's font scaling */
  font-size: calc(var(--width) / 7.5);
  text-shadow: var(--shadow);
  filter: var(--screen-filter);
}
