.SingleItemScreen {
  /* only needed for label position calculation to mimic what is on the main menu */
  --gap: calc(var(--width) / 15);
  --vertical-offset: calc(-0.2 * (var(--width) / 7));
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;

  &.centered {
    height: 100%;
    align-items: center;
  }

  &:not(.centered) {
    transform: translateY(calc(-50% + 0.33 * var(--height)));

    .label {
      bottom: calc(var(--height) * -0.17);
      transform: translate(-50%, 0%);
    }
  }

  .label {
    position: absolute;
    bottom: calc(
      (var(--height) - (2 * var(--item-size)) - var(--gap)) / 4 -
        var(--vertical-offset)
    );
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
